
  <h1>Ideas</h1>


    <% @idea.each do |idea| %>
        <div class = 'well'>
          <div class="idea-title">
            <h4 style="margin-top:0"><%= idea.title %></h4>
            <div class="idea-body"><p><%= idea.text %></p></div>
          </div>
          <a href="#"><%=User.find(idea.user_id).email%></a>

          <div class="btn btn-xs btn-default">
            <%= link_to 'Show', idea_path(idea), :class => "btn-xs" %>
          </div>
          <div class="btn btn-xs btn-default">
            <%= link_to 'Like', :class => "btn-xs" %>
          </div>

          <div class="pull-right">
            <span>Members: <%= idea.members %></span>
            <span>Likes: <%= idea.likes %></span>
          </div>


        </div>
    <% end %>
  </table>
