<% if current_user %>
  <% @user = User.find(@idea.user_id) %>
  <% if @user == current_user %>
      hoyl shet logged the fuck in
  <% end %>
  <h4><%= @user.email %></h4>
<% end %>

<h1><%= @idea.title %></h1>
<h3><%= @idea.text %></h3>




<hr>
<h2>Reviews</h2>
<hr>
<% @idea.reviews.each do |review| %>
    <p>
      <strong>Reviewer:</strong>
      <%= review.reviewer %>
    </p>

    <p>
      <strong>Review:</strong>
      <%= review.body %>
    </p>

    <p>
      <%= link_to 'Destroy Review', [review.idea, review],
                  method: :delete,
                  data: {confirm: 'Are you sure?'} %>
    </p>
    <hr>
<% end %>

<h2>Add a review:</h2>
<%= form_for([@idea, @idea.reviews.build]) do |f| %>
    <p>
      <%= f.label :reviewer %><br>
      <%= f.text_field :reviewer %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Edit', edit_idea_path(@idea) %>
<%= link_to 'Back', ideas_path %>